<!--Cabeçalho-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sistema Exemplo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  

  <div class="container">
    <nav class="menu">
      <ul>
        <li><a href="/" class="btn"><i class="fa fa-home" ></i>&nbsp;Home</a></li>
        <li><a href="/teste" class="btn">Teste</a></li>
      </ul>
    </nav>

  <!--Cabeçalho - Fim-->